<!DOCTYPE>
@{
    Layout = null;
    ViewBag.Title = "Descarga Apps";

    string urlPlayStore = (string)ViewBag.UrlPlayStore;
    string urlITunes = (string)ViewBag.UrlITunes;
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="center">
        <h1>Nueva App Móvil</h1>
        <h2>Agrupación de hermandades</h2>
        <div>
            <a href="@urlPlayStore">
                <img src="@Url.Content("~/Content/Images/play.png")"
                     style="width: 247px; height: 96px;" />
            </a>
        </div>
        <div>
            <a href="@urlITunes">
                <img src="@Url.Content("~/Content/Images/appstore.png")"
                     style="width: 219px; height: 65px;" />
            </a>
        </div>
    </div>

</body>