@using Txt = PushNews.WebApp.App_LocalResources
@using PushNews.WebApp.Models.Account
@model CambiarClaveUsuarioModel

@{
    ViewBag.Title = "AsociadosCambiarClave";
    Layout = "~/Areas/AppWebViews/Views/Shared/_WebViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/AppWebViews/AsociadosCambiarClave")
}

<h1>@Txt.Asociados.CambiarClave</h1>

@using (Html.BeginForm("CambiarClave", "Asociados", FormMethod.Post, new { id = "frmCambiarClave" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.UsuarioID)
    <div class="form-group">
        @Html.LabelFor(m => m.Clave)
        <div data-container-for="Clave">
            @Html.PasswordFor(m => m.Clave, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(m => m.Clave, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmarClave)
        <div data-container-for="ConfirmarClave">
            @Html.PasswordFor(m => m.ConfirmarClave, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(m => m.ConfirmarClave, "", new { @class = "text-danger" })
        </div>
    </div>
}

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Txt.Comun.Cancelar</button>
    <button type="button" class="btn btn-primary btCambiarClaveGuardar">@Txt.Comun.Guardar</button>
</div>

