@using PushNews.WebApp.Areas.Backend.Models.UI
@using Txt = PushNews.WebApp.App_LocalResources
@using PushNews.WebApp.Models.UI

@{
    bool permisoModificar = User.IsInRole("ModificarAsociados");
    bool permisoExportar = User.IsInRole("ExportarAsociados");
    bool permisoAgregar = User.IsInRole("CrearAsociados");
    bool permisoEliminar = User.IsInRole("EliminarAsociados");

    var modeloCabecera = new CabeceraModel()
    {
        Icono = "clip-settings",
        BCSeccion = Txt.Secciones.Configuracion,
        BCModulo = Txt.Secciones.Asociados,
        Titulo = Txt.Secciones.Asociados,
        Subtitulo = Txt.Asociados.Subtitulo,
        Recargar = true,
    };

    var modeloHerramientasInline = new HerramientasInlineModel( permisoModificar, permisoEliminar, new List<BotonGridModel>()
        {
            new BotonGridModel(Txt.Asociados.CambiarClave, "fa fa-lock", "btCambiarClave", "btn btn-xs btn-taxiva")
        });

    BotonGridModel[] opExportar = permisoExportar
        ? new BotonGridModel[]
        {
            new BotonGridModel(Txt.Comun.Exportar, "fa fa-file-excel-o", "btExportar" )
        }
        : new BotonGridModel[0];

    var modeloToolbar = new GridToolbarModel(opExportar,
        new[] { "ApellidosNombre", "NombreApellidos", "Nombre", "Apellidos", "Email", "Codigo", "Direccion",
            "Localidad", "Provincia", "Observaciones", "Telefono" },
        Txt.Asociados.Buscar, permisoAgregar);

    string textosJson = Json.Encode(
        new
        {
            confirmacionEliminarCuerpo = Txt.Asociados.ConfirmacionEliminar,
            confirmacionNavegacion = Txt.Comun.ConfirmarNavegacion,
            confirmacionDesactivar = Txt.Asociados.ConfirmacionDesactivar,
            confirmacionActivar = Txt.Asociados.ConfirmacionActivar
        });
}

@{Html.RenderPartial("cabeceraModulo", modeloCabecera);}
@{Html.RenderPartial("DialogoConfirmacion", new DialogoConfirmacionModel
    { ModalID = "ConfirmarActivarDesactivar", Titulo = @Txt.Comun.ConfirmarActivarDesactivar });}
@{Html.RenderPartial("DialogoConfirmacion", new DialogoConfirmacionModel
    { ModalID = "DialogoConfirmacion", Titulo = @Txt.Comun.ConfirmarEliminacion });}
@{Html.RenderPartial("DialogoCambiarClave");}

<div class="row">
    <div class="col-xs-12">
        @{Html.RenderPartial("FormAsociados");}
        <div class="contenedor-modulo" data-textos="@textosJson">
            @(Html.Kendo().Grid<PushNews.WebApp.Models.Asociados.AsociadoModel>()
                .Name("AsociadosGrid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Codigo);
                    columns.Bound(c => c.ApellidosNombre);
                    columns.Bound(c => c.Email);
                    columns.Bound(c => c.Telefono);
                    columns.Bound(c => c.CodigoPostal);
                    columns.Bound(c => c.Direccion);
                    columns.Bound(c => c.Localidad);
                    columns.Bound(c => c.Provincia);
                    if (permisoModificar)
                    {
                        columns.Bound(c => c.Activo).Title(@Txt.Comun.Activo)
                            .Width(80)
                            .ClientTemplate(Html.Partial("ControlActivarDesactivar").ToString());
                    }
                    if (permisoModificar || permisoEliminar)
                    {
                        columns.Bound(c => c.AsociadoID).Title("").Filterable(false).Sortable(false)
                            .Width(100)
                            .ClientTemplate(Html.Partial("ComandosGrillaEditarEliminar", modeloHerramientasInline).ToString());
                    }
                })
                .ToolBar(tb => tb.Template(Html.Partial("GridToolbar", modeloToolbar).ToString()))
                .ConfigurarGrilla("AsociadosGrid", "Asociados", m =>
                {
                    m.Id(e => e.AsociadoID);
                })
            )
        </div>
    </div>
</div>